PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=securedocs_db
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD

JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_CADENA_LARGA_Y_ALEATORIA
JWT_EXPIRES_IN=2h

POSTGRES_HOST_PORT=5433
